@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

$estilo-titulos: 'Montserrat', sans-serif;
$estilo-parrafos: 'Roboto', sans-serif;

%imagenes {
    padding: 20px;
    width: 600px;
    border-radius: 40px;
}
$colores:(
    "fondo-parrafo":rgba(245, 245, 245, 0.39),
    "fondo-pagina":linear-gradient(109.6deg, rgba(248, 242, 247, 0.925) 11.2%, rgba(71, 11, 75, 0.411) 98.6%),
    "sombra-titulos":0px 10px 15px rgba(104, 5, 91, 0.404),
    "colorbtn-footer": rgb(104, 5, 91),
)