.footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    @include flex(column, center, none);
    text-align: center;

    div {
        img {
            width: 100px;
            border-radius: 20px;
            padding: 10px;
        }
    }

    .redes {
        @include flex(none, none, space-around);
        list-style: none;
        padding: 0;
        width: 200px;
        li{
            a{
                color: black;
            }
        }
    }
     

    a {
        .btn1 {
            background-color: map-get($colores, "colorbtn-footer" );
            margin: 2px;
            padding: 10px;
            border-radius: 5px;
            border-color: whitesmoke;
            color: whitesmoke;
        }
    }
}