header {
    grid-area: header;
    @include flex(column, center, none);
    
    img {
        width: 100px;
        border-radius: 20px;
        padding: 10px;
    }

    .navbar {
        .container-fluid {
            margin-top: 10px;

            .navbar-brand {
                font-size: 20px;
                color: grey;
            }

            .navbar-collapse {
                .nav-link {
                    font-size: 20px;
                    color: grey;
                }
            }
        }
    }
}