.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: map-get($colores, "fondo-pagina" );
  }
  h1, h2, h3 {
    font-family: $estilo-titulos;
  }
  
  h1 {
    box-shadow: $sombra-titulo;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.6rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-size: 0.7rem;
  }
  main {
    grid-area: main;
  }