.secciones {
    font-family: $estilo-parrafos;
    @include flex(row, center, center);
    padding: 20px;
    margin: 10px;

    div {
        .imagen {
           @extend %imagenes;
        }
    }

    .texto {
        @include flex(row, center, none);
        width: 400px;
        background-color: map-get($colores, "fondo-parrafo" );
        padding: 20px;
        border-radius: 20px;
        font-size: 1rem;
    }
}